//classs Selectors
.seatreservation
{
    text-align:center;
}
//classs Selectors
.Title
{
    padding :2em;
}
//classs Selectors
.columnwise
{
    display: inline;
    align-items: center;
    padding: 1em;
}

.rowwise
{
    padding: .5em;
}

