.contianerform{
    
    border: 1px solid grey;
    padding: 10px;
    border-radius: 5px;
    margin-left: 550px;
    margin-top: 40px;
    width: 300px;
    position: relative;
}
//classs Selectors
.formpay{
    
 

}
//classs Selectors
.complete-payment{
    border-radius: 5px;
    background-color: #ef670d;
    color: white;
    border: none;
    padding: 5px;
    margin-left: 100px;
    margin-top: 20px;
}
//classs Selectors
.formpay>section{
    margin-bottom: 10px;
}

section>label{
    margin-left: 10px;
}
.label1{
    margin-right:30px;
}

.label2{
    margin-right: 22px;
}

.label3{
    margin-right: 78px;
    
}
//classs Selectors
.label4{
margin-right: 23px;
}
//classs Selectors
.info{
    font-size: 10px;
    margin-left: 135px;
}