.register
{
    border: 1px solid black;
    width :15em;
    height: 25em;
    margin-left: 35em;
    margin-top: 10em;
    background-color: rgb(94, 57, 129);
    border-radius: 1em;
    padding: 1em;
}
//class selectors 
.registerContainer
{
    justify-content: center;
    display: flex;
    flex-direction: column;
}
//class selectors 
.registerInput2
{
    margin-top: 2em;
    width: auto;
    height: auto;
    row-gap: 2em;
    padding: .5em;
    border-radius: .5em;
    
}

.registerInput
{
    margin-top: 4em;
    width: auto;
    height: auto;
    row-gap: 2em;
    padding: .5em;
    border-radius: .5em;
}
//class selectors 
.registerButton
{
    margin-top: 4em;
    background-color: #ef670d;
    border: none;
    width: auto;
    justify-content: center;
    color: white;
    padding: .5em;
   
}
//class selectors 
.errorchecking{
    margin-left: 5px;
    row-gap: 1em;
    margin-top: .2em;
    color: rgb(246, 148, 148);
}

